<p >Developer Table!</p>
<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Contact</th>
    <th>Salary</th>
  </tr>
  <!-- <ng-template *ngFor="let item of Employeelist ;let i = index"> -->
  <!-- <tr    > -->
  <ng-container  *ngFor="let item of Employeelist ;let i = index"  >
  <tr *ngIf="checkdeveloper(item.designation)" >
    <th> {{item.fname}} </th>
    <th> {{item.lname}} </th>
    <th> {{item.contact}} </th>
    <th> {{item.salary}} </th>
    <th> <button  (click)="deleteDeveloper(i)">Remove</button></th>
    <th> <button  (click)="editDeveloper(i)">Modify</button></th>
  </tr>
</ng-container>
<!-- </ng-template> -->

</table>
<p>hello</p>
